body {
  margin: 0;
}

.bg-container {
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: 100% 100%;

  width: 100vw;
  height: 100vh;
}

#canvas {
  width: 640px;
  height: 640px;

  margin: 0 auto;
  position: absolute;

  /* top: calc(50% - 320px); */
  top: 0;
  left: calc(50% - 320px);

  border: 1px solid black;
}
